.nav-container{
    position: sticky;
    z-index: 3;
    top: 0;
}

.navbar{
    display:flex;
    justify-content: space-between;
    height: 15vh;
    background-color:black;

}

.navbar-logo{
    justify-self: start;
    margin-left: 20px;
    color:aliceblue;
    margin-top: 4vh;
    cursor: pointer;
}



.seeCarrito{
    font-size: 25px;
    margin-right: 20px;
    margin-top: 4vh;
    cursor: pointer;
    text-decoration: none;
}