.banner{
    background-size: cover;
    background-position: center;
    height: 100vh;

    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),
    url("https://images.pexels.com/photos/1450367/pexels-photo-1450367.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
}

.banner-container{
    text-align: center;
    padding: 15% 0;
}

.banner h1{
    margin: 0;
    color: aliceblue;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-size: 62px;
}

.banner p{
    font-size: 30px;
    color: aliceblue;
    opacity: 0.7;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}